<br/>
<h1 align="center">Project Template</h1>
<br/>
<div class="container">
  <form (ngSubmit)="onSubmit()" #dependencyForm="ngForm">
    <div class="form-group">
      <label for="projectTemplateNm">Enter project name</label>
      <input class="form-control" id="projectTemplateNm" [(ngModel)]="projectTemplateData.projectTemplateNm" name="projectTemplateNm"
        placeholder="Project Template Name">
    </div>
    <h2>Dependencies</h2>
    <p>Add Spring Boot Starters and dependencies to your application</p>


    <div class="form-group">
      <label for="autocomplete" class="control-label">Search for dependencies</label>
      <input tabindex="11" id="autocomplete" class="form-control" type="text" placeholder="Web, Security, JPA, Actuator, Devtools..."
        name="autocomplete">
    </div>
    <div class="form-group">
      <label for="starters" class="control-label">Selected Dependencies</label>
      <div id="starters">
      </div>
    </div>

    <div class="form-group">
      <label for="starters" class="control-label">Selected Dependencies</label>
      <div id="starters">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!dependencyForm.form.valid">Submit</button>
    <p>Don't know what to look for? Want more options?<a href=""> Switch to the full version.</a></p>
  </form>
</div>
