<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="projectTemplateName">Project Template Name</label>
      <input class="form-control" id="projectTemplateName" placeholder="Enter Project Name">
    </div>
    <div class="form-group">
      <label for="dependencyName">Dependency</label>
      <input class="form-control" id="dependencyName" placeholder="Search for a dependency">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>